.lmj-plant-item-cover {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}


.lmj-plant-item {
    margin: 6px;
    padding: 10px;
    width: 220px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    border-top: none;
    border-left: none;
    border-right: none;

}

.lmj-plant-item-price {
    position: absolute;
    border-radius: 20px 0px 20px 0px;
    background-color: #31b472;
    color: white;
    padding: 15px;
    right: 0;
    top: 0;
    font-weight: 500;
}
